.container
  position: relative
  width: 100%
  height: auto
  margin-left: auto
  margin-right: auto
  padding-left: 0.5rem
  padding-right: 0.5rem
  // test container size:
  //border: 1px solid red
@media ((min-width: 240px) and (min-height: 320px))
  .container
    max-width: 240px
    max-height: 320px
@media (min-width: 347px)
  .container
    max-width: 347px
    font-size: 1.2em
    display: flex
    flex-direction: column
@media (min-width: 493px)
  .container
    max-width: 493px
    font-size: 1.2em
@media (min-width: 658px)
  .container
    max-width: 658px
    font-size: 1.4em
@media (min-width: 786px)
  .container
    max-width: 786px

@media (min-width: 848px)
  .container
    max-width: 848px
    font-size: 1.6em
    .skill-list
      padding: 1.5em
@media (min-width: 866px)
  .container
    max-width: 866px
@media (min-width: 1024px)
  .container
    max-width: 1024px

@media (min-width: 1230px)
  .container
    font-size: 1.2rem
    max-width: 1230px

@media (min-width: 1536px)
  .container
    max-width: 1536px