@import "variables"
@import "mixin"
.container
  position: relative
  width: 100%
  height: auto
  margin-left: auto
  margin-right: auto
  padding: 0 $gap
  // test container size:
  //border: 1px solid red

.container-wide
  position: relative
  max-width: 1040px
  padding: 0 $gap
  margin: auto
  flex-grow: 1
  display: flex
//@media (min-width: 347px)
//  .container
//    max-width: 347px
//    font-size: 1.2em
//    display: flex
//    flex-direction: column
//@media (min-width: 493px)
//  .container
//    max-width: 493px
//    font-size: 1.2em
//    display: flex
//    flex-direction: row
//@media (min-width: 658px)
//  .container
//    max-width: 658px
//    font-size: 1.4em
//    display: flex
//    flex-direction: row
//@media (min-width: 786px)
//  .container
//    max-width: 786px
//    display: flex
//    flex-direction: row
//@media (min-width: 848px)
//  .container
//    max-width: 848px
//    font-size: 1.6em
//    display: flex
//    flex-direction: row
//    .skill-list
//      padding: 1.5em
//@media (min-width: 866px)
//  .container
//    display: flex
//    flex-direction: row
//    max-width: 866px
//@media (min-width: 1024px)
//  .container
//    max-width: 1024px
//    display: flex
//    flex-direction: row
//
//@media (min-width: 1230px)
//  .container
//    font-size: 1.2rem
//    max-width: 1230px
//    display: flex
//    flex-direction: row
//
//@media (min-width: 1536px)
//  .container
//    max-width: 1536px
//    display: flex
//    flex-direction: row