@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,600;0,700;1,400&display=swap')
@font-face
  font-family: 'MartianMono'
  src: url("fonts/MartianMono-StdRg.woff2") format('woff2')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'MartianMono'
  src: url("fonts/MartianMono-StdBd.woff2") format('woff2')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'MartianMono'
  src: url("fonts/MartianMono-StdMd.woff2") format('woff2')
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'MartianMono'
  src: url("fonts/MartianMono-StdLt.woff2") format('woff2')
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'MartianMono'
  src: url("fonts/MartianMono-StdTh.woff2") format('woff2')
  font-weight: 200
  font-style: normal


@font-face
  font-family: "IBM Plex Serif", serif
  font-weight: 400
  font-style: normal


@font-face
  font-family: "IBM Plex Serif", serif
  font-weight: 600
  font-style: normal


@font-face
  font-family: "IBM Plex Serif", serif
  font-weight: 700
  font-style: normal


@font-face
  font-family: "IBM Plex Serif", serif
  font-weight: 400
  font-style: italic
